.home_products {
  width: 100vw;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, min-content));
  grid-gap: 50px;
  padding: 30px;
  grid-template-rows: repeat(auto-fill, minmax(1fr, min-content));
  background-color: #f0e7e5;
}
