.product_card {
  margin: 10px;
  width: 16rem;
  transition: all 1s;
  cursor: pointer;
  margin-bottom: 18px;
  max-height: 471px;
}
.product_card:hover {
  transform: scale(1.1);
  box-shadow: 13px 4px 20px -5px rgba(0, 0, 0, 0.5);
}
.product_info {
  font-weight: bolder;
  font-size: larger;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 3px;
  margin-bottom: 15px;
}
.product_img {
  width: 100%;

  margin-bottom: 15px;
  object-fit: contain;
  max-height: 200px;
}
.product_adToCartButton {
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  letter-spacing: 3px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 3px 4px;
  cursor: pointer;
  border-radius: 2px;
  display: flex;

  align-items: center;
  justify-content: center;
}

.product_adToCartButton:hover {
  background-color: rgb(241, 109, 60);
}

.upper_card {
  cursor: pointer;
}
.lower_card {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 160px) and (max-width: 795px) {
  .product_card {
    width: 60%;
    margin: 15px;
  }
}
